@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "Source Code Pro", sans-serif;
}

span {
    margin: 3px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -9999;
}

.portfolio-main {
    margin: 5%;
}

.title {
    font-size: 1rem;
}

.technologies {
    display: flex-wrap;
}