@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4 {
    margin: 0!important;
}

#content {
    padding: 5px!important;
}

.navbar {
    background-color: #eff5fb;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    align-items: center;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -9999;
}

.portfolio-main {
    margin: 5%;
}

.title {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 2px!important;
    color: rgb(173, 173, 173);
    font-weight: 100;
}

.technologies {
    display: flex-wrap;
}

.seperator {
    width: auto;
    height: 1px;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 20px;
}

.small-seperator {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 1px;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    margin-left: 10px;
}

.tag {
    font-size: 0.6em!important;
}

.project-title {
    color: black;
}

.project-title:hover {
    color: #485fc7;
}

